.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    margin:auto;
    max-width:500px;
    width:100%;
    font-size: 18px;
    padding:20px;
    border: solid 10px rgba(122,122,122,1);
}

.container{
    max-width:500px;
    width:100%;
    min-height:200px;
    font-family: 'Courier New', Courier, monospace;
}

.image{
    background-color:red;
    max-width: 100%;
    width:100%;
}

.container h3.name, .container h4.place{
    display:block;
    float:left;
    color:green;
    padding:0;
    margin:0;
    font-size:2rem;
}
.container h4.place{
    clear:both;
    padding:0;
    margin:10px 0 20px 0;
    width:100%;
    font-size:1.8rem;
}

.container .button.icon{
    float:left;
    width:100px;
    height:100px;
    border-radius:50%;
    border: 5px solid rgb(255, 255, 255);
    display:flex;
    justify-content:center;
    margin: 10px 30px;
}

.container .button.icon i.fas{
    display:flex;
    width:50px;
    font-size:50px;
    color:rgb(255, 255, 255);
    justify-content:center;
    align-items:center;
}

.container .button.icon:last-child{
    float:right;
}

.container .button.icon#like{
    background-color:green;
}

.container .button.icon#dislike{
    background-color:red;
}

.container .button.icon#check{
    background-color:blue;
}

.status ol.personChoice li.personList p, .status ol.personChoice li.personList img{
    float:left
}

.status ol.personChoice li.personList img{
    clear:left;
}

.status ol.personChoice{
    padding-left:0;
}

.status ol.personChoice li.personList{
    border-bottom: solid 2px rgba(122,122,122,1);
}

.status ol.personChoice li.personList:last-child{
    border-bottom: none;
}

.status ol.personChoice li.personList i.fas{
    float:right;
    background-color: green;
    border-radius:50%;
    width:50px;
    height:50px;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
}

.status ol.personChoice li.personList i.fas.fa-times{
    float:right;
    background-color: red;
}